.navbar {
  /*This should be in another file, but I thought that it would be an overkill to create a whole directory just for this class*/
  text-align: center;
}

.home-container {
  text-align: center;
}

label {
  font-size: 1.9em;
}

.votes {
  font-size: 20px;
}

.votes .up-btn:hover {
  cursor: pointer;
  background: #000;
  color: green;
}

.votes .down-btn:hover {
  cursor: pointer;
  background: #000;
  color: red;
}

.content {
  text-align: left;
  min-height: 90px;
}