<div class="row home-container">
  <div class="col-md-8 col-md-offset-2 creation-container">
    <form>
      <label class="col-md-12">
        Share your thoughts!<br>
        <input type="text" 
                placeholder="Insert your thought here" 
                class="col-md-8 col-md-offset-2"
                ng-model="thought">
      </label>
      <br>
      <div class="col-md-8 col-md-offset-2 bg-danger" ng-show="showError">Input cannot be empty</div>
      <button class="col-md-6 col-md-offset-3 btn btn-primary" ng-click="addThought()">Share!</button>
    </form>
  </div>
  <div class="col-md-8 col-md-offset-2 list-container">
    <div ng-repeat="thought in thoughtsList track by $index" class="col-md-12">
      <div class="col-md-1 votes">
        <div class="up-btn" ng-click="modifyCount(thought, 1, 'Ezequiel')">
          <i class="fa fa-chevron-up"></i>
        </div>      
        <div class="count">{{thought.count}}</div>
        <div class="down-btn" ng-click="modifyCount(thought, -1, 'Ezequiel')">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
      <div class="col-md-11 content">
        <p>{{thought.thought}}</p>
      </div>
      <div class="delete">
        <p><button class="btn delete-btn" ng-click="deleteThought(thought.thought)">Delete</button></p>
      </div>
    </div>
  </div>
</div>